@font-face {
  font-family: BankGothic Lt BT;
  src: url(bankgothiclightbt.ttf);
}
@font-face {
  font-family: Pasajero;
  src: url(Pasajero.otf);
}
@font-face {
  font-family: BankGothic ;
  src: url(BankGothicBold.ttf);
}

/* ***************************************************************************** My Css */
fieldset.who-border {
  border: 2px groove #B38D45;
  padding: 1em 1.4em 1em 1.4em !important;
  /* margin: 0 0 10em 0 !important; */
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
  
}

/* **********************************     philosophy part */
.block-6 .media-body p {

  font-size: 19px !important;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.ftco-section {
  padding: 0 0;
  position: relative;
}
.paragraph{
  font-size:18px !important;
}
h1{
  font-family:pasajero !important;
  color: #B38D45 !important;
}
h4,h3,h2  {
  font-size: 19px;
  font-family:BankGothic;
  color: #D0CECE;
}
.gallary-box{
  margin: 15px 0;
}
.projects-box{
  margin: 5px 0;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .gallary-box{
      margin: 15px 42px !important;
      
    }
}

.scrolled .collapse ul li .nav-link {
  color: #B38D45 !important;
}
.scrolled .collapse ul li.active .nav-link {
  color: #D0CECE !important;
}

.ftco-navbar-light.scrolled {
  background-color: #211F1E !important;
}

.services:hover{
  background: #B38D45;
  border-radius: 20px;
  color: #B38D45 !important;
}

.section-box{
  margin-top: 75px ;
  margin-bottom: 75px ;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/**************** nav bar items */
.nav-item {
  font-family:"BankGothic Lt BT";
  margin-right: -20px !important;

}
/**** container control*******/
@media (min-width: 1200px) {
  .container{
      max-width: 90%;
  }
}
/********   Slider Control ***************/
.slider_back_ar {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
@media (min-width: 1200px) {
  .slider_back_ar{
      max-width: 92%;
      
  }
}

.slider_back_en {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
@media (min-width: 1200px) {
  .slider_back_en{
      max-width: 97%;
      
  }
}
/***** social icons*/
ul.social-icons {
  padding: 0;
}
ul  {
  margin-top: 0;
  margin-bottom: 10px;
}
ul li {
  color: #D0CECE;
}

.social-icons .social {
  margin: 0 10px;
}
.social-icons .social img {
  width: 30px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {


}
/* icon */
.gallary-box .icon span {
  font-size: 57px;
  width: 120px;
  color: #B38D45;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: #B38D45;
  margin: 0 0;
}
.gallary-box .icon span:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
  font-size: 40px;
}

/* styles control */

.classic {
  position: relative;
  padding: 0 5rem 5rem 0 !important;
}





/* scroll */
.scrollclass {
  height:150px;
  overflow-y: scroll;
}